node_modules

# Keep environment variables out of version control
.env

/src/generated/prisma

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*